name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: depot-ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Lint
        uses: golangci/golangci-lint-action@v6

      - name: Test
        run: go test ./...
